/* body { */
/*   font: 10px sans-serif; */
/* } */
.counties {
  fill: none;
}

.state-borders {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }

circle {
  /* fill: rgb(31, 119, 180); */
  /* fill-opacity: .0; */
  stroke: rgb(31, 119, 180);
  stroke-width: 0px;
}

.leaf circle {
  fill: #ff7f0e;
  fill-opacity: 1;
}

rect {
  fill: #aaa;
}

.infobox {
    /* background: yellow; */
    stroke: black;
    stroke-width: 1px;
    display: block;
    background-color: #eee;
    position: absolute;
    z-index: 100;
}


.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  fill: lightsteelblue;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.dot {
  fill: white;
  stroke: steelblue;
  stroke-width: 1.5px;
}

/* div.wheel { */
/*   display: inline-block; */
/* } */

.group text {
  font: 11px sans-serif;
  pointer-events: none;
}
 
.group path {
  stroke: #000;
}
 
path.chord {
  stroke-width: .75;
  fill-opacity: .75;
}

.background path {
  fill: none;
  stroke: #ccc;
  stroke-opacity: .4;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
  stroke-opacity: .7;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

circle.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

line.link {
  stroke: #999;
  stroke-opacity: .6;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}
